<h3>terms and conditions</h3>

{%extends 'blog/base.html'%} {% block content %} {%load static%}

<title>Referral Website Terms and Conditions</title>

<body class="container col-lg-12 col-md-10 col-sm-10 p-1">
  <div
    style="margin-top: -30px"
    class="mx-auto col-lg-10 col-md-8 col-sm-6 p-4"
  >
    <h3 class="p-2">Terms and Conditions</h3>
    <strong class="" style="color: red; font-family: math; font-size: small"
      >Read through to understand clearly the terms of use</strong
    >
  </div>
  <div
    style="font-size: small"
    class="container p-4 m-2 rounded-lg bg-warning col-lg-8 col-md-10 col-sm-8"
  >
    <h3>Referral Website Terms and Conditions</h3>

    <p>
      Welcome to our referral program! These terms and conditions outline the
      rules and regulations for participating in our referral program. By
      participating in the program, you agree to comply with these terms and
      conditions.
    </p>

    <h4>1. Eligibility</h4>
    <p>
      To be eligible for our referral program, you must be at least 18 years old
      and have a valid email address and safaricom phone number.Anyone can
      participate but can only have one account unless they are a site admin or
      high level management.
    </p>

    <h4>2. Referral Program</h4>
    <p>
      Our referral program allows you to earn rewards by referring new customers
      to our website. You will receive a unique referral link that you can share
      with your friends, family, and contacts. When someone clicks on your
      referral link and completes a qualifying action, such as activating their
      cash account, you automatically earn a reward.
    </p>

    <h4>3. Reward Structure</h4>
    <p>
      The specific rewards and their corresponding qualifying actions will be
      outlined in our referral program about page. Rewards may include
      discounts, credits, or other benefits. The exact value and availability of
      rewards may vary and can be modified or discontinued at our discretion.
    </p>

    <h4>4. Prohibited Activities</h4>
    <p>
      While participating in our referral program, you must not engage in any
      fraudulent, deceptive, or unethical activities. This includes, but is not
      limited to, spamming, using misleading information, creating multiple
      accounts, or any other activity that violates applicable laws or our terms
      of service.
    </p>

    <h4>5. Modification and Termination</h4>
    <p>
      We reserve the right to modify, suspend, or terminate the referral program
      at any time and without prior notice. We may also modify these terms and
      conditions, and it is your responsibility to review them periodically for
      any changes. If you continue to participate in the referral program after
      any modifications, it will indicate your acceptance of the updated terms.
    </p>

    <h4>6. Limitation of Liability</h4>
    <p>
      We will not be liable for any indirect, incidental, consequential, or
      punitive damages arising from your participation in the referral program.
      You participate in the program at your own risk.
    </p>

    <h4>7. Governing Law</h4>
    <p>
      These terms and conditions are governed by and construed in accordance
      with the laws of the kenyan republic. Any disputes arising from or in
      connection with these terms and conditions shall be subject to the
      exclusive jurisdiction of the courts in Your Jurisdiction.
    </p>

    <h4>8. Contact Information</h4>
    <p>
      If you have any questions or concerns regarding these terms and
      conditions, please contact us at [taskfindr@gmail.com].
    </p>

    <p>
      By participating in our referral program, you acknowledge that you have
      read, understood, and agreed to these terms and conditions. Thank you for
      being a valued participant!
    </p>
  </div>
</body>

{% endblock %}
