{%extends 'blog/base.html'%}
{% load static %}
{% block content %}
<title>Home</title>
  
  <body class='container bg-success col-lg-12 col-md-12 col-sm-12 m-10 p-1'>
         <!--notice board-->
            <div class=" col-lg-1 col-sm-2 col-md-1 col-sm-10 m-2 p-2">
            </div>
            <div class=" side-bar bg-success col-lg-2 col-sm-8 col-md-12 col-sm-10 m-3 p-2 shadow rounded-lg">
                <div class='col p-2 m-2'>
                  <p class="mx-auto">tasks done <span style="color:floralwhite;font-family:math;">
                    <img src="static\images\icons\planning.png" style="width:20%" alt=" ">
                     {{tasks}}</span></p>
                </div>
            </div>
            <div class=" side-bar bg-warning col-lg-2 col-sm-8 col-md-12 col-sm-10 m-3 p-2 shadow rounded-lg">
                <div class='col p-2 m-2'>
                  <p>your refferals : <span style="color:floralwhite;font-family:math;">
                    <img src="static\images\icons\referral.png" style="width:20%" alt=" ">
                    {{reffs}}</span></p>
                  
                </div>
            </div>

            <div class=" side-bar bg-info col-lg-2 col-sm-8 col-md-12 col-sm-10 m-3 p-2 shadow rounded-lg">
                <div class='col p-2 m-2'>
                  <p>level bonus: <span style="color:floralwhite;font-family:math;">
                    <img src="static\images\icons\level-up.png" style="width:20%" alt=" ">
                    {{level}}</span></p>
                </div>
            </div>
            <div class=" side-bar bg-danger col-lg-2 col-sm-8 col-md-12 col-sm-10 m-3 p-2 shadow rounded-lg">
                <div class='col p-2 m-2'>
                  <p>account: ksh<span style="color:floralwhite;font-family:math;">
                    <img src="static\images\icons\wallet.png" style="width:20%" alt=" ">
                    {{cash}}
                    {%if cash >= 100 %}
                      <a href="{% url 'withdrawal_request'%}" style="color:floralwhite;font-family:math;"><button class="btn btn-outline-warning">withdraw</button></a>
                    {% endif %}
                  </span></p>
                </div>
            </div>
           
            <!-- body-->
        {% for post in posts %}
            <div class='container bg-light col-lg-12 col-md-12 col-sm-12'style="padding-left:unset">
                <div class="container bg-light mt-3 pb-20 col-lg-8 col-md-12 col-sm-12" id='home' style="height:50%">
                      <div class="card bg-light rounded-lg shadow-lg col-lg-10 col-md-12 col-sm-6">
                        <div class=" card-header bg-info col-lg-6 col-sm-6 col-md-12 m-3 p-2 shadow-sm rounded-lg">
                          <div class='row p-2 m-2'>
                            <img class="rounded-circle" src="{{post.author.profile.image.url}}" style="width:20%" alt="pic">
                            <h2 class="mx-auto card-text row"> <a  href="{% url 'user_post' post.author.username %}"><span style="font-size:small;font-family:cursive;color:aliceblue">by {{post.author}}</span></h2>
                          </div>
                          <div class=' row bg-light rounded-lg p-2 m-3 col-sm-12 ' style="">
                            <a href="{% url 'post_detail' post.id %}"style="text-decoration:none;color:black;" class='mx-auto p-1 m-1'><strong>{{post.title|upper}}</strong></a>
                          </div>
                        </div>
                        <div style="font-size:small"class="card-body">
                          <p class="card-text">{{post.content}} </p>
                          <p>
                            <a href="{% url 'like' post.id %}"
                              ><span class="material-symbols-outlined"> add_reaction </span>
                            </a>
                            {{likes}} <span style="font-family:monospace;">like<span/>
                            <a href="{% url 'dislike' post.id %}">
                              <span class="material-symbols-outlined">
                                sentiment_very_dissatisfied
                              </span>
                            </a>
                            {{dislikes}} <span style="font-family:monospace;">dislike<span/>
                          </p>
                          read more **
                        </div>
                        <div style="font-size:x-small;@mediaquery(min)"class="card-footer bg-light">
                          <p>{{ post.date_posted}}</p> <p><a href="{% url 'spaces_list' post.spaces %}" style="text-decoration:none;color:black"class='mx-auto p-1 m-1'><b>{{post.spaces}}</b></a>
                            {%if post.spaces == "MUSIC AND ART" %}
                              <img class="funimage" src="static\images\icons\hobby.png" style="width:15%" alt=" "/>
                            {% elif post.spaces == "CYBER-SECURITY" %}
                              <img class="funimage"src="static\images\icons\hacker.png" style="width:15%" alt=" "/>
                            {% elif post.spaces == "FOOD AND LIFESTYLE" %}
                              <img class="funimage"src="static\images\icons\health.png" style="width:15%" alt=" "/>
                            {% elif post.spaces == "LIFE HACKS AND JOBS" %}
                              <img class="funimage" src="static\images\icons\job.png" style="width:15%" alt=" "/>
                            {% elif post.spaces == "PROGRAMMING AND DATA SCIENCE" %}
                              <img class="funimage"src="static\images\icons\web-programming.png" style="width:15%" alt=" "/>
                            {% endif %}
                          </p>
                        </div>
                     </div>
                </div>
            </div>

        {% endfor %}
        <div class="mx-auto m-2 p-1">
          {% if is_paginated %}
                {% if page_obj.has_previous %}
                  <a class="btn btn-outline-warning m-1" href="?page = 1">first</a>
                  <a class="btn btn-outline-primary m-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <a class="btn btn-success m-1" href="?page={{num}}">{{num}}</a>
                    {% elif num > page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info m-1" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <a class="btn btn-outline-info m-1" href="?page={{ page_obj.next_page_number }}">next</a>
                  <a class="btn btn-outline-warning m-1" href="?page={{ page_obj.paginator.num_pages}}">last</a>
                {% endif %}

          {% endif %}
        </div>

    </body>
    


{% endblock %}
