{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="col-lg-12 col-md-10 col-sm-10">
    <form class="form-group" method="post">
        {% csrf_token %}
        <div class="shadow mt-4 p-2 mt-4 bg-success rounded 10"></div>
        <div class="card">
            <div class="card-header"> JOB BID FORM</div>
            <p>
                Make sure you are clear in each milestone highlight briefly how you want
                your work done.
                {{bidform.errors}}
            </p>
            <div class="card-body">
                <div class="form-group mb-4 mt-2 p-4 mt-5 bg-light">
                    <span>JOB</span>
                    {{ bidform.joboffer }}
                </div>
                <div class="form-group  mb-4 p-4 bg-light">
                    <span>CASH BID</span>
                    {{ bidform.cashbid }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn shadow mb-8 btn-outline-success">
                    Finish
                </button>

            </div>
        </div>
    </form>
</div>
{% endblock %}