{% extends "blog/base.html"%}
{% load static %}
{% block content %}

      <div class="container bg-success col-lg-4 shadow-lg p-4 mb-4  border border-info rounded-lg " style="height:100px%">
        <img class="card-img-bottom" src="{% static 'images/dumbbell.png' %}" style="width:30%" alt=""/>
        <div class=" mx-auto row ">
          <h1> password reset</h1>
          <p> Hi we have sent instructions to help you reset your password, please check your email</p>
       </div>

     </div>

{% endblock %}
