{% extends "blog/base.html"%}
{% load static %}
{% block content %}

    <body>
      <div class=" container-fluid row shadow m-1 p-2 mb-4 bg-light border border-danger " style="height:100% width:100%">
              <div class="col-lg-5 shadow-lg p-2 mb-4">
                    <div class="col bg-danger rounded-sm mt-4 p-4">
                      <img class="rounded-circle" src="{{user.profile.image.url}}" style="height:80px" alt="jpg">
                      <p class="mx-auto"><b>{{user.username|upper}}</b> 
                        <img src="\static\images\icons\level-up.png" style="width:20%" alt=" ">LEVEL {{request.user.profile.level}}
                        <div class="form-group shadow  m-1 p-2 "style="color:aliceblue">
                          <span ="profile pic"><span style="color:black;font-size:small;">Reffered by :</span> {{my_profile.reffered_by}}</span><br>
                          <span ="profile pic"> <span style="color:black;font-size:small;">my phone number:</span> +254{{my_profile.phone_number}}</span><br>
                          {% if my_account.is_valid == True %}
                          <span style="font-family:auto;color:midnightblue;font-size:smaller;" ="profile pic">
                             <b style="color:midnightblue;font-size:medium;">my link :</b> <br> 
                              http://127.0.0.1:8100/register/{{my_profile.user.username}}/ 
                          </span>
                          {%else%}
                          <span style="font-family:auto;color:midnightblue;font-size:smaller;" ="profile pic">
                            <b style="color:midnightblue;font-size:medium;">activate account to get link</b> <br>    
                          </span>
                          {% endif %}
                        </div>
                      </p>
                      <form class="mb-4 bg-danger" enctype="multipart/form-data" method="POST" style="height:90%;font-size:smaller;"> {% csrf_token %}
                        <div class="form-group shadow  m-2 p-2 "style="">
                            <label style="font-size:smaller;"for="profile pic">New Phone number {{p_form.phone_number}}</label>
                        </div>
                        <button type="submit" class="btn shadow mt-2 bgsuccess">update phone number</button>
                        {% if p_form.errors %}
                            <ul class="errorlist bg-warning m-1 p-1" style="text-align:left">
                              {{p_formerrors}}
                            </ul>
                        {% endif %}
                      </form>
                      
                    </div>
                    <div class="mt-5 col-lg-12 bg-dark">
                      {% if my_account.is_valid == False%}
                        <div class="row p-2 m-2 ">
                          <button class="btn btn-outline-success"><a style="color:aliceblue;font-size:small;text-decoration:none;" href="{% url 'activation' my_account.id %}">Activate Account</a></button>
                          <img src="\static\images\icons\wallet.png" style="width:18%">
                        <div style="color:aliceblue">
                      
                          </div>
                        </div>
                      {% else %}
                        <div class="row p-4 m-2 ">
                          <button class="btn btn-outline-danger"><a style="color:aliceblue;font-size:small;text-decoration:none;" href="{% url 'delete_account' my_account.id %}">Delete account </a></button>
                          <img src="\static\images\icons\wallet.png" style="width:15%">
                        </div>
      
                        {% endif %}
                        <div class="form-group bg-secondary shadow  m-1 p-4 "style="color:aliceblue">
                          <span ="profile pic"><span style="color:black;">Level Bouns $:</span> {{my_account.get_level_bonus}}/=<br>
                          <hr style="background-color: chartreuse;">
                          <span ="profile pic"><span style="color:black;">Status : </span>{% if my_account.is_valid == True %} Account is Active{%else%}Account inactive{% endif %}<br>
                          <hr style="background-color: chartreuse;">
                          <span ="profile pic"><span style="color:black;">People you brought in :<span style="color:aquamarine">{{total_reffs}}</span>
                            <div style="overflow-x: scroll;display:flex;">
                              {% for reff in reffs %}
                                <ol>{{reff.user.username}}</ol>
                              {% endfor %}
                            </div>
                          </span>
                          <hr style="background-color: chartreuse;">
                        </div>
                    </div>
  
        
                    
                    
              </div>
              
              <div class="col-lg-5 m-2 p-2">
                <div class="mx-auto bg-info m-4 p-2">
                  <p><b>profile update<b></p>
                </div>

                <form class="p-2 bg-light" enctype="multipart/form-data" method="POST" style="height:90%;font-size:smaller;"> {% csrf_token %}
                  <div class="form-group shadow  m-1 p-4 "style="">
                      <label style="font-size:smaller;"for="profile pic">image {{p_form.image}}</label>
                  </div>
                  <div class="form-group shadow mb-2 mt-2 p-2 mt-4">
                     <label for="email">email {{u_form.email}}</label>
                  </div>
                  <div class="form-group shadow mb-2 mt-2 p-2 mt-4">
                    <label for="username">username {{u_form.username}}</label>
                  </div>
                  <button type="submit" class="btn shadow mt-2 btn-outline-success">update user info </button>
                </form>
              </div>
      </div>
    </body>



{% endblock %}
