{% extends "blog/base.html"%}
{% load static %}
{% block content %}

<body>
  <div class=" container-fluid row shadow m-1 p-2 mb-4 bg-light border border-danger">
    <section class="col-lg-12" style="background-color: #eee;">
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
              <h2> JOB TRACKING BOARD</h2>
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">MY CASH ACCOUNT</a></li>
                <li class="breadcrumb-item"><a href="#">MY WORKING AREA</a></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="{{user.profile.image.url}}" alt="avatar" class="rounded-circle img-fluid"
                  style="width: 150px;">
                <h5 class="my-3">{{user.username|upper}}</h5>
                <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">LEVEL {{request.user.profile.level}}</p>
                <div class="d-flex justify-content-center mb-2">
                  <button type="button mr-2" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-primary">Follow</button>
                  <button type="button" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-outline-primary ms-1">Message</button>
                </div>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0 h-50">
                <form class="form-group" method="post">
                  {% csrf_token %}
                  <div class="shadow mt-4 p-2 mt-4 bg-warning rounded 10"></div>
                  <div class="">
                    <div class="card-header">PROFILE UPDATE FORM </div>
                    <div class="card-body">
                      <div class="form-group mb-4 mt-2 p-2 mt-5 bg-light">
                        <span>Phone number</span>
                        {{p_form.phone_number}}
                      </div>
                      <div class="form-group  mb-4 p-2 bg-light">
                        <span>Profile Pic</span>
                        {{p_form.image}}
                      </div>
                      <div class="form-group  mb-4 p-2 bg-light">
                        <span class="form-label">Username</span>
                        {{u_form.username}}
                      </div>
                      <div class="form-group  mb-4 p-2 bg-light">
                        <span>Email</span>
                        {{u_form.email}}
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn shadow mb-8 btn-outline-success">
                        Update User
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{user.username}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{user.email}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"> +254{{my_profile.phone_number}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                  </div>
                </div>
              </div>
            </div>
            {% if tasks%}
            <h4>MY CONTRACTS </h4>
            <div class="row">
              {%for task in tasks %}
              {%for offer in task.job_offer.all%}
              <div class="col-md-6 mt-2 ">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4 font-weight-bold"><span class="text-primary font-italic me-1">assigned</span> Jobs
                      Status
                    </p>
                    <p class="mb-1" style="font-size: .77rem;"><a style="font-size: medium;font-weight: bold;"
                        href="{% url 'post_detail' offer.job.id %}"> TITLE</a></p>
                    {{offer.job}}
                    <hr>
                    <p class="mt-4 mb-1" style="font-size: .77rem;">JOB STATUS</p>
                    <span class="badge badge-pill badge-info p-2 mr-2">{{offer.job_status}}</span>
                    <a class="p-2" href="{% url 'update-offer' offer.id %}"><button class="btn btn-warning">update
                        Job </button></a>
                    {% if offer.created_at != None %}
                    <p class="mt-4 mb-1" style="font-size: .77rem;font-weight:500;" id="time-remaining"
                      data-expiration="{{ offer.created_at|add:offer.time_limit|date:'c' }}"></p>
                    {%else%}
                    <p class="mt-4 mb-1" style="font-size: .77rem;">No Time Limit
                    </p>
                    {% endif %}
                    <hr>
                    <p class="mt-4 mb-1" style="font-size: .77rem;">ASSIGNED TO </p>
                    {{task.assigned_to}}
                  </div>
                </div>
              </div>
              {%endfor%}
              {%endfor%}
            </div>
            {% endif %}
            {% if bids %}
            <h4 class="mt-2">MY BIDS</h4>
            <div class="row">
              {%for bid in bids %}
              <div class="col-md-6 mt-2 ">
                <div style="background: antiquewhite;" class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4 font-weight-bold"><span class="text-primary font-italic me-1">Sent</span> Bids
                      Status
                    </p>
                    <p class="mb-1" style="font-size: .77rem;"><a style="font-size: medium;font-weight: bold;"
                        href="{% url 'post_detail' bid.joboffer.job.id %}"> TITLE</a></p>
                    {{bid.joboffer.job}}
                    <hr>
                    <p style="font-size: medium; display: flex;" class="mt-4 mb-1 p-2" style="font-size: .77rem;">CASH
                      BID
                      <span class="badge badge-pill badge-info p-2 ml-2">{{bid.cashbid}}</span>
                    </p>
                    <div class="justify-content-between" style="display:flex">
                      <a class="p-2" href="{% url 'bid_update' bid.joboffer.id bid.id %}"><button
                          class="btn btn-success">update
                          bid </button></a>
                      <form action="{% url 'bid_delete' bid.joboffer.id bid.id %}" method="post" class="p-2">
                        {% csrf_token %}
                        <button type="submit" name="delete" class="p-2 btn btn-dark">Delete Bid</button>
                      </form>
                    </div>
                    <hr>
                    <p class="mt-4 mb-1" style="font-size: .97rem;">Bid Status </p>
                    <code>{{bid.bid_status}}</code>
                    <div>
                      {% if bid.bid_status == 'ACCEPTED' or bid.bid_status == 'DECLINED' %}
                        <small style="display: flex;justify-content: end; font-family: monospace;">you can delete this bid, </small>
                      {% endif %}
                      {% if bid.joboffer.job_status != "OPEN"%}
                      <small style="display: flex;justify-content: end; font-family: monospace;">this job isnt open anymore </small>
                      {% endif %}
                    </div>
                      
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </section>
    {%comment%}
    <div class="wow fadeInDown col-lg-5 shadow-lg p-2 mb-4" data-wow-delay="0.1s">
      <div class="mt-5 col-lg-12 bg-dark">
        {% if my_account.is_valid == False%}
        <div class="row p-2 m-2 ">
          <button class="btn btn-outline-success"><a style="color:aliceblue;font-size:small;text-decoration:none;"
              href="{% url 'activation' my_account.id %}">Activate Account</a></button>
          <img src="\static\images\icons\wallet.png" style="width:18%">
          <div style="color:aliceblue">

          </div>
        </div>
        {% else %}
        <div class="row p-4 m-2 ">
          <button class="btn btn-outline-danger"><a style="color:aliceblue;font-size:small;text-decoration:none;"
              href="{% url 'delete_account' my_account.id %}">Delete account </a></button>
          <img src="\static\images\icons\wallet.png" style="width:15%">
        </div>

        {% endif %}
        <div class="form-group bg-secondary shadow  m-1 p-4 " style="color:aliceblue">
          <span="profile pic"><span style="color:black;">Level Bouns $:</span> {{my_account.get_level_bonus}}/=<br>
            <a href="{% url 'level_up' %}"><button class="btn bg-primary">Level Up</button></a>
            <hr style="background-color: chartreuse;">
            <span="profile pic"><span style="color:black;">Status : </span>{% if my_account.is_valid == True %} Account
              is Active{%else%}Account inactive{% endif %}<br>
              <hr style="background-color: chartreuse;">
              <span="profile pic"><span style="color:black;">People you brought in :<span
                    style="color:aquamarine">{{total_reffs}}</span>
                  <div style="overflow-x: scroll;display:flex;">
                    {% for reff in reffs %}
                    <ol>{{reff.user.username}}</ol>
                    {% endfor %}
                  </div>
                </span>
                <hr style="background-color: chartreuse;">
        </div>
      </div>




    </div>
    {%endcomment%}
    <table class="table table-striped">
      <caption class="font-weight-bold">JOB PROGRESS TRACKER</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col"> BIDDER</th>
          <th scope="col">JOB OFFER </th>
          <th scope="col">CASH BID</th>
          <th scope="col">BID STATUS</th>
          <th scope="col"> RESPONSE </th>

        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        {% for offer in task.job_offer.all %}
        {% for bid in offer.bids.all %}
        <tr>
          <th scope="row">1</th>
          <td>{{bid.bidder}}</td>
          <td style="font-family: 'Courier New', Courier, monospace;">{{bid.joboffer}}</td>
          <td style="font-family: 'Courier New', Courier, monospace;">{{bid.cashbid}}</td>
          <td style="color: darkgoldenrod;">{{bid.bid_status}}</td>

          <td>
            <button class="mr-2 btn btn-outline-success"><a href="{% url 'bid_response' bid.id 'Accept' %}">Accept
              </a></button>
            <button class=" ml-2 btn btn-outline-danger "><a href="{% url 'bid_response' bid.id 'Decline' %}">Decline
              </a>
          </td>
        </tr>
        {%endfor%}
        {% endfor %}
        {%endfor%}
      </tbody>
    </table>
  </div>
</body>

<script>
  // Helper function to format the time
  function formatTimeRemaining(totalSeconds) {
    let hours = Math.floor(totalSeconds / 3600);
    let minutes = Math.floor((totalSeconds % 3600) / 60);
    let seconds = totalSeconds % 60;

    return `${hours}h ${minutes}m ${seconds}s`;
  }

  function updateTimeRemaining() {
    const expirationElement = document.getElementById('time-remaining');
    const expirationTime = new Date(expirationElement.getAttribute('data-expiration'));
    const now = new Date();

    const timeRemaining = Math.floor((expirationTime - now) / 1000); // time in seconds

    if (timeRemaining > 0) {
      expirationElement.textContent = "Time remaining: " + formatTimeRemaining(timeRemaining);
    } else {
      expirationElement.textContent = "This task has expired.";
    }
  }

  // Update the time every second
  setInterval(updateTimeRemaining, 1000);

  // Run it once immediately to show the initial value
  updateTimeRemaining();
</script>

{% endblock %}